<% for (i=0; i<events.length; i++) { %>
<% let item = events[i]; %>

<article>
  <h2><%= item.title %></h2>
  <%= item.body %>
  <p><strong>Start date:</strong> <%= item.field_date %></p>
  <p><strong>End date:</strong> <%= item.field_end_date %></p>
  <p><strong>Location:</strong> <%= item.field_location %></p>
  <p><strong>Hosted by:</strong> <%= item.field_organizations %></p>
</article>

<% } %>
