{% for event in events %}

<article>
  <h2><a href="/event/{{ event.nid }}">{{ event.title }}</a></h2>
  <p>{{ event.field_date }}</p>
  {{ event.body }}
  <p><strong>Hosted by:</strong> {{ event.field_organizations }}</p>
</article>

{% endfor %}
