{% include 'partials/header.twig' %}

{% for event in events %}
  <article class="event-blurb" aria-label="{{ event.title }}">
    <div class="container">
      <h2><a href="/event/{{ event.nid }}">{{ event.title }}</a></h2>
      <p><strong>Start date:</strong> {{ event.formatted_date }}</p>

      {% if event.formatted_end_date %}
      <p><strong>End date:</strong> {{ event.formatted_end_date }}</p>
      {% endif %}

      {{ event.body }}

      <p><strong>Location:</strong> {{ event.field_location }}</p>
    </div>
  </article>
{% endfor %}

<div class="container">
  <a href="/" class="btn back">All events</a>
</div>

{% include 'partials/footer.twig' %}
