{% include 'partials/header.twig' %}

{% for event in events %}
  <article class="event-blurb" aria-label="{{ event.title }}">
    <div class="container">
      <h2><a href="/event/{{ event.nid }}">{{ event.title }}</a></h2>
      <p>{{ event.formatted_date }}</p>
      {{ event.body }}
      <p><strong>Hosted by:</strong> {{ event.field_organizations }}</p>
    </div>
  </article>
{% endfor %}

{% include 'partials/footer.twig' %}
